.container {
    padding: 5%;   
    table {
       width: 100%;
       th {
           width: 33%;
           background-color: rgb(245, 209, 161);
       }
       td {
           .green{
               color: green;
           }
           .red{
               color: rgb(160, 18, 18);
           }
       }
   }
   }