<div class="container">
    <form (submit)="loginUser($event)">
        <mat-form-field class="field">
            <mat-label>Login</mat-label>
            <input matInput id="login">
        </mat-form-field>
        <br>
        <mat-form-field class="field">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
</div>