<div class="container">
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
        <mat-form-field class="field">
            <mat-label for="username">Login</mat-label>
            <input matInput [(ngModel)]="form.username" name="username" required #username="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field class="field">
            <mat-label for="">Password</mat-label>
            <input matInput [(ngModel)]="form.password" name="password" required #password="ngModel">
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" type="submit">Login</button>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{username}}
    </div>
</div>