<ng-container>
    
    <button mat-button *ngIf="user.role == 'admin'" matTooltip="Assign scraper" [matMenuTriggerFor]="assignTo">
        <mat-icon aria-hidden="false">manage_accounts</mat-icon>
    </button>
    
    <button mat-button [matMenuTriggerFor]="markAs" matTooltip="Mark as">
        <mat-icon aria-hidden="false">offline_pin</mat-icon>
    </button>

    <button mat-button *ngIf="assignedTo == 0 && user.role == 'scraper'" (click)="assignToMe()" matTooltip="Assign to me">
        <mat-icon>build</mat-icon>
    </button>
</ng-container>

<mat-menu #assignTo="matMenu">
    <ng-container *ngFor="let user of users">
        <button (click)="assignToUser(user)" mat-menu-item *ngIf="user.role == 'scraper'">{{user.username}}</button>
    </ng-container>
</mat-menu>

<mat-menu #markAs="matMenu">
    <ng-container *ngIf="assignedTo == user.id">
        <button (click)="markAsExecuted()" value="executed" mat-menu-item>Executed</button>
        <button (click)="markAsCantDo()" mat-menu-item>Can't do this</button>
        <button (click)="markAsSuccess()" mat-menu-item>Success</button>
    </ng-container>
        <button (click)="markAsNoOffer()" mat-menu-item *ngIf="robotState !='NOOFFER' && assignedTo == 0" >No offer</button>
        <button (click)="markAsStillNoOffer()" mat-menu-item *ngIf="robotState == 'NOOFFER'">Still no offer</button>
</mat-menu>