<div class="container">
    <div class="notes">
        <mat-card class="noteCard" *ngFor="let note of notes">
            <mat-card-subtitle>{{note.author}} - {{note.createdAt | date: 'medium'}}</mat-card-subtitle>
            <mat-card-content>{{note.contents}}</mat-card-content>
        </mat-card>
    </div>

    <form class="noteForm" [formGroup]="form">
        <mat-form-field>
            <input formControlName="content" required matInput placeholder="Add note" [(ngModel)]="noteContent">
        </mat-form-field>

        <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary" (click)="addNote(noteContent)">Add</button>
    </form>
</div>