.container {
    position: relative;
    padding: 5%;
    height: 60%;
    table {
        width: 100%;
        th {
            width: auto;
        }
        td {
            .green{
                color: green;
            }
            .red{
                color: rgb(160, 18, 18);
            }
            .tag {
                cursor: pointer;
                padding-left: 2%;
                font-size: 0.8rem;
                opacity: 0.6;
            }
        }
    }
}