.container {
 padding: 5%;   
 table {
    width: 100%;
    th {
    }
    td {
        .green{
            color: green;
        }
        .red{
            color: rgb(160, 18, 18);
        }
        .tag {
            cursor: pointer;
            padding-left: 2%;
            font-size: 0.8rem;
            opacity: 0.6;
        }
        .date {
            font-size: 0.7rem;
        }
        .author {
            font-size: 0.8rem;
        }
        .content {
            font-size: 0.8rem;
        }
    }
}
}