.container {
    padding: 3%;
    height: 70%;
    overflow: auto;
    .userTable {
        margin: 1%;
    }
    .scraperContainer {
        margin: 1%;
        .cardContent {
            display: grid;
            grid-template-columns: 20% 30% 30%;
        }
    }

}