<div class="container">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Use existing tag">
          <div class="content">
            <mat-chip-list>
              <mat-chip (click)="setTag(tag.name)"class="tag" *ngFor="let tag of tags" [style.backgroundColor]="tag.color" matTooltip="{{tag.description}}">{{tag.name}}</mat-chip>
            </mat-chip-list>            
          </div>
        </mat-tab>
        <mat-tab label="Create tag"> Content 2 </mat-tab>
      </mat-tab-group>    
</div>