.container {
    width: 35vw;
    .content {
        padding-top: 5%;
        overflow: hidden;
        .tag {
            color: white;
        }
        button {
            width: 60%;
        }
        position: relative;
        left: 25%;
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
}